{:paths ["src" "resources"]

 :deps {;; Core bits
        org.clojure/clojure                             {:mvn/version "1.11.3"}
        org.clojure/core.async                          {:mvn/version "1.6.681"}
        org.clojure/clojurescript                       {:mvn/version "1.11.121"}

        ;; Utilities
        weavejester/dependency                          {:mvn/version "0.2.1"}
        com.widdindustries/cljc.java-time               {:mvn/version "0.1.21"}
        metosin/malli                                   {:mvn/version "0.10.1"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {thheller/shadow-cljs                    {:mvn/version "2.26.2"}
                     cider/cider-nrepl                       {:mvn/version "0.50.2"}}}

  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha                       {:mvn/version "1.91.1392"}}
         :main-opts ["-m" "kaocha.runner"]}

  :build
  {:extra-paths ["build"]
   :ns-default build
   :extra-deps {io.github.clojure/tools.build                   {:mvn/version "0.9.6"
                                                                 :exclusions [com.google.guava/guava
                                                                              org.slf4j/slf4j-nop]}
                io.github.seancorfield/build-clj                {:git/tag "v0.8.0"
                                                                 :git/sha "9bd8b8a"}
                thheller/shadow-cljs                            {:mvn/version "2.26.2"}}}}}
